<div class="bg-dark min-vh-100">
  <ul class="p-0" style="list-style-type:none;">
    <li>
      <div class="btn btn-success w-100">
        Hannan
        <p> Global-sub admin</p>
      </div>
    </li>
    <li>
      <a routerLink="/home" class="btn btn-dark w-100 text-left">
        <i class="fas fa-home"></i> home
      </a>
    </li>
    <li>
      <a routerLink="/service-catalog" class="btn btn-dark w-100 text-left">
        <i class="fas fa-hammer"></i> service catalog
      </a>
    </li>
    <li>
      <a routerLink="/panel-users" class="btn btn-dark w-100 text-left">
        <i class="fas fa-users"></i> panel users
      </a>
    </li>
    <li>
      <a routerLink="/customer-billing" class="btn btn-dark w-100 text-left">
        <i class="fas fa-money-bill"></i> customer billing
      </a>
    </li>
    <li>
      <a routerLink="/provisioning" class="btn btn-dark w-100 text-left">
        <i class="fas fa-globe-asia"></i> provisioning
      </a>
    </li>
    <li>
      <a routerLink="/domain-registration" class="btn btn-dark w-100 text-left">
        <i class="fas fa-registered"></i> domain registration
      </a>
    </li>
    <li>
      <a routerLink="/applications" class="btn btn-dark w-100 text-left">
        <i class="fas fa-archive"></i> applications
      </a>
    </li>
    <li>
      <a routerLink="/reports" class="btn btn-dark w-100 text-left">
        <i class="fas fa-flag-checkered"></i> reports
      </a>
    </li>
    <li>
      <a routerLink="/help" class="btn btn-dark w-100 text-left">
        <i class="fas fa-question-circle"></i> help
      </a>
    </li>
  </ul>
</div>
