<div class="bg-dark min-vh-100">
  <ul class="p-0" style="list-style-type:none;">
    <li>
      <div class="btn btn-success w-100">
        Hannan
        <p> Global-sub admin</p>
      </div>
    </li>
    <li>
      <a routerLink="/Home" class="btn btn-dark w-100 text-left">
        <i class="fas fa-home"></i> Home
      </a>
    </li>
    <li>
      <a routerLink="/service-catalog" class="btn btn-dark w-100 text-left">
        <i class="fas fa-hammer"></i> Service catalog
      </a>
    </li>
    <li>
      <a routerLink="/panel-users" class= "btn btn-dark w-100 text-left">
        <i class="fas fa-users"></i> Panel users
      </a>
    </li>
    <li>
      <a class="btn btn-dark w-100 text-left" href="">
        <i class="fas fa-money-bill"></i> Customer billing
      </a>
    </li>
    <li>
      <a class="btn btn-dark w-100 text-left" href="">
        <i class="fas fa-globe-asia"></i> Provisioning
      </a>
    </li>
    <li>
      <a class="btn btn-dark w-100 text-left" href="">
        <i class="fas fa-registered"></i> Domain registration
      </a>
    </li>
    <li>
      <a class="btn btn-dark w-100 text-left" href="">
        <i class="fas fa-archive"></i> Applications
      </a>
    </li>
    <li>
      <a class="btn btn-dark w-100 text-left" href="">
        <i class="fas fa-flag-checkered"></i> Reports
      </a>
    </li>
    <li>
      <a class="btn btn-dark w-100 text-left" href="">
        <i class="fas fa-question-circle"></i> Help
      </a>
    </li>
  </ul>
</div>
