<nav class="navbar text-light bg-dark">
  <a class="navbar-brand" href="http://www.google.com">habibi</a>
  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Niku Habibi
      <i class="fas fa-user"></i></a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" routerLink="/account">my account</a>
      <a class="dropdown-item" routerLink="/account">my order</a>
      <a class="dropdown-item" routerLink="/account">my personal information</a>
      <a class="dropdown-item" routerLink="/account">my voucher</a>
      <a class="dropdown-item" routerLink="/account">my wishlist</a>
      <a class="dropdown-item" routerLink="/account">sign out</a>
    </div>
  </div>
</nav>
