<nav class="navbar text-light bg-dark">
  <a class="navbar-brand" href="http://www.google.com">habibi</a>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown">Niku Habibi</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="">my profile</a>
      <a class="dropdown-item" href="">my order</a>
      <a class="dropdown-item" href="">my wishlist</a>
    </div>
  </li>
  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown link
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</nav>
